.tools-resources {
  padding: 2rem;
  background-color: #f5f5f5bd;
  border-radius: 20px;
}

.main-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #000;
}

.category {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: #f5c8efe1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.category-title {
  display: flex;
  align-items: center;
  color: #000;
  gap: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.tool-btn {
  padding: 0.75rem 1rem;
  border: 2px solid #7982e0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
  transition: 0.2s;
}

.tool-btn:hover {
  background-color: #7982e0;
  color: white;
}
