/* Footer styles */
.landing-footer {
  background-color: #c7d2fe;
  color: #ffffff;
  padding: 0.10rem 0;
  text-align: center;
  position: relative;
}

/* Footer text styles */
.footer-text {
  font-size: 1rem;
  font-weight: 600;
}
